:root {
  background-color: #b0e0e6;
  color: #800080;
  color-scheme: light dark;
  font-family: Inter, system-ui, Helvetica;
  font-synthesis: none;
  font-weight: 200;
  line-height: 2.0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url(‘https://w.forfun.com/fetch/47/47f16a9521607f90161fa047d669c230.jpeg’);
  background-size: cover;
  height: 100vh;
  margin: 100;
  width: min(700px, 70%);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #800080;
  }

a:hover {
  color: #ff00ff;
}

button {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 40px;
  width: 80px;
} }