@mixin flex(
    $justify:center,
    $align:center,
    $direction: column,
    $wrap: nowrap) 
    
    { display:
        flex;
        flex-direction: $direction;
        align-items: $align;
        justify-content: $justify;
        flex-wrap: $wrap; }

@mixin background-color($opacity: 1) {
    background-color: rgba($background-color, $opacity);
}

@mixin button(){
    background-color: #e4dede;
    border: 3px solid;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 0.6em 1.2em;
    transition: border-color 0.25s;
    &:hover { border-color: #646cff; } &:focus, &:focus-visible { outline: 4px auto -webkit-focus-ring-color; } }

@mixin grid() {
    display: grid;
    grid-template-columns:
    50px 100px 1fr;
    grid-template-rows: 50px 100px 1fr;
 }